/* Reset page margin and padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import font style */
@font-face {
    font-family: 'customFont';
    src: url('../fonts/star-shield-2-font/StarShieldV2-9M52K.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body{
    background-color: #141414;
}

/* UI consistent across all nav buttons */
.heading, .play, .pause, .random, .draw{
    text-decoration: none;
    color: white ;
    font-family: 'customFont', sans-serif;
    letter-spacing: 2px;
    flex-wrap: wrap;
}
.play, .pause, .random, .draw{
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 20px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.game-container {
    display: flex;
    justify-content: center;
    border: 2px solid #E4B400;
}

.header {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    border-bottom: 2px solid #E4B400;
}

.heading {
    font-size: 42px;
    color: #E4B400;
    padding: 15px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}


.nav-buttons a {
    text-decoration: none;
    font-family: 'customFont', sans-serif;
    color: white;
    font-size: 22px;
    padding: 10px 18px;
    border: 2px solid #E4B400;
    border-radius: 12px;
    transition: all 0.25s ease-in-out;
    background-color: rgba(228, 180, 0, 0.1);
}

.nav-buttons a:hover {
    background-color: #E4B400;
    color: black;
    box-shadow: 0 0 15px rgba(228, 180, 0, 0.7);
    transform: transform(-2px);
}
