/* Import font style */
@font-face {
    font-family: 'customFont';
    src: url('../fonts/star-shield-2-font/StarShieldV2-9M52K.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    /* Allow full screen layout */
    height: 100%;
    /* Prevent scrolling */
    overflow: hidden;
    /* Remove default browser margin and padding */
    margin: 0;
    padding: 0;
}

/* Wrapper around the whole content */
.wrapper {
    /* Full width and height*/
    width: 100%;
    height: 100%;
}
/* Container for canvas */
.boids-container {
    /* Small space between header and canvas */
    margin-top: 10px;
}
/* Style canvas element */
canvas {
    /* Removes inline-block spacing issue */
    display: block;
    /* Prevent p5.js from forcing absolute positioning */
    position: relative !important;
    margin: 10px auto;
    border: 2px solid #e63933;
    box-sizing: border-box;
}

.header {
    background-color: #1b1b1b;
    display: flex;
    /* Fixed header height */
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    border-bottom: 2px solid #e63933;
}

.heading {
    font-size: 42px;
    color: #e63933;
    padding: 15px;
    font-family: 'customFont', sans-serif;
    letter-spacing: 3px;
}

body{
    background-color: #141414;
}

.controls {
    /* Row layout */
    display: flex;
    justify-content: center;
    /* Spacing between each control */
    gap: 15px;
    /* Space above controls from canvas*/
    margin-top: 10px;
}

.controls input, .controls button {
    text-decoration: none;
    font-family: 'customFont', sans-serif;
    color: white;
    font-size: 15px;
    padding: 5px 9px;
    border: 2px solid #e63933;
    border-radius: 12px;
    transition: all 0.25s ease;
    background-color: rgba(228, 0, 0, 0.1);
}

.controls button:hover {
    background-color: #e63933;
    color: black;
}
/* Style dropdown menu */
select {
    background-color: rgba(228, 0, 0, 0.1);
    color: white;
    border: 2px solid #e63933;
    padding: 2px 6px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'customFont', sans-serif;
}

select:hover {
    border-color: #ff4040;
    box-shadow: 0 0 8px rgba(230, 57, 51, 0.6);
}
/* Dropdown option styling */
option {
    background-color: #1b1b1b;
    color: white;
}